/* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 10px;
}

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */

/* Header Styles*/
.logo {
  width: 20px;
  padding: 10px;
}

/*Hero Styles*/
.hero-image {
  width: 100%;
  padding: 50px;
}
#hero-section {
  background-image: url("img\first-background.jpg") no-repeat;
}

/*Icon Styles*/
#little-karma {
  font-size: 32px;
}

.icon-section {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
.icon-img {
  width: 150px;

  padding: 25px;
}
figcaption {
  font-size: 18px;
}

/*Footer Styles*/
